 <!--REGISTER NEW HOUSE FORM-->
 <div class="container-fluid">
    <mat-toolbar> <h4>ADD_HOUSE</h4></mat-toolbar>
    <div class="row" id="Add-House">
      <div class="col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-label>LGA</mat-label>
      <input type="text" matInput placeholder="LGA" />
    </mat-form-field>
    </div>

     <div class="col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-label>HOUSE-NO</mat-label>
      <input type="text" matInput placeholder="HOUSE-NO" />
    </mat-form-field>
</div>
      <div class="col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-label>HOUSE TYPE</mat-label>
      <input type="text" matInput placeholder="HOUSE-NO" />
    </mat-form-field>
    </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-label>Sell/Rent</mat-label>
      <input type="text" matInput placeholder="Sell/Rent" />
    </mat-form-field>
</div>

  <div class="col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-label>PRICE</mat-label>
      <input type="text" matInput placeholder="PRICE" />
    </mat-form-field>
</div>

  <div class="col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-label>Owner-full-name:</mat-label>
      <input type="text" matInput placeholder="FULLNAME" />
    </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-label>Contact: No</mat-label>
      <input type="text" matInput placeholder="CONTACTNO" />
    </mat-form-field>
    </div>

 
    <div class="col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-label>CONTACT-ADDRESS</mat-label>
      <input type="text" matInput placeholder="CONTACT-ADDRESS" />
    </mat-form-field>
    </div>

      <div class="col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-label>NEXT-OF-KIN</mat-label>
      <input type="text" matInput placeholder="NEXTOFKIN" />
    </mat-form-field>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-label>HOUSE CONDITION</mat-label>
      <input type="text" matInput placeholder="CONDITION" />
    </mat-form-field>
    </div>

      <div class="col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-label>ASKING-PRICE</mat-label>
      <input type="number" matInput placeholder="ASKING-PRICE" />
    </mat-form-field>
    </div>
    </div>

    <div class="row" id="buttons">
      <div class="col-lg-12 col-sm-6">
        <button type="reset" mat-stroked-button color="warn" id="reset" title="cancel" class="float-right">Reset</button>
        <button type="submit"  mat-stroked-button color="primary" id="submit" title="addhouse"class="float-right mx-4">Submit</button>
    </div>
  </div>
  </div>
</div>