mat-toolbar{
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: whitesmoke;
  color: deepskyblue;
}
mat-form-field{
  margin: 5px;
}
#gethousediv{
  overflow-x: auto
}
table{
  background-color: whitesmoke;
  color: black;
}

